.info-body {
    width: 2000px;
    height: 2000px;
    display: block;
    position: relative;
    left: 0;
    top: 0;
    background-color: #18181a;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.info-body::-webkit-scrollbar {
    display: none!important;
}
footer {
    width: 100%;
    height: 120px;
    max-height: 150px;
    justify-content: center;
    background-color: #18181a;
    bottom: 0;
    position: absolute;
    -webkit-user-select: none;
    user-select: none;
}
.footer_inner {
    width: 1500px;
    height: 100px;
    display: block;
    position: relative;
    margin-left: 30px;
    border-top: 1px solid #494950;
}
.h5 {
    width: 1500px;
    height: 20px;
    font-size: 14px;
    font-weight: lighter;
    color: #999aaa;
    line-height: 20px;
    text-align: center;
}
.h5 a {
    color: #999aaa;
    text-decoration: none;
    margin-right: 5px;
}
.h5 a:hover {
    text-decoration: underline;
    color: #c3c3cb;
}